
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <input type="text" name="name" value=""/>
    <br />
    <input type="number" name="budget" value=""/>
    <br />
    <input type="submit" name="submbit" value="save department"/>
</form>
